<h1><%= @industry_name %></h1>
<%= content_tag :ul do %>
    <% @industry.each do |stock| %>
        <%= link_to(content_tag(:li, stock.symbol), portfolio_stock_path(portfolio_id: @portfolio.id, id: stock.id)) %> <%= stock.name %>
    <% end %>
<% end %>
