//@import 'bootstrap/dist/css/bootstrap';

* {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: lightgray;
}


.down {
    color: red;
}

.up {
    color: green;
}

div.index-container {
    display: flex;
}

.notice 
.alert {
    text-align: center;
}

div.sign-links {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    height: 3.5rem;
    width: 18rem;
    padding-left: 10px;
}

div.sign-links a.nav {
    margin: 10px;
    text-decoration: none;
    color: black;
    border: 2px solid white;
    padding: 5px 20px;
    background: lightgray;
}

div.sign-links a.nav:hover {
    box-shadow: 2px 2px black;
}

div.index-container navbar.grid-container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background: lightgrey;

    h1 {
        margin: 10px;
        background-color: lightgray;
        text-align: center;
    }
}

div.stock-list-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto;
    position:relative;

    a {
        padding: 20px;
        text-decoration: none;
        text-align: center;
        background-color: lightslategrey;
        color: white;
        border: 2px solid gold;
        width: 10rem;
        height: 9rem;

        div p {
            background-color: lightslategray;
        }
    }

    a:hover {

        font-size: 2rem;

        p.stock-name {
            display: none;
        }
    }
}

.sign-container {
    display:flex;
    flex-direction: column;
    align-items: center;

    .new_user div.field {
        padding: 10px;

        input {
            padding: 5px;
            background-color: white;
        }
    }


}

