// Place all the styles related to the Portfolios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.portfolio-container header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    
    h1 {
        padding-left: 1rem;
    }
}

.portfolios-container {
    display: flex;
    width: 100%;

    a {
        display: flex;
        width: 100%;
        text-decoration: none;

        div.portfolios-list {
            display:flex;
            padding: 20px;
            width: 100%;
            background: white;
            justify-content: space-between;
            align-items: center;

            p, h1 {
                background: white;
                text-decoration: none;
                color: black;
            }

            .portfolio-info {
                display: flex;
                background-color: white;

                p {
                    margin: 1rem;
                    font-size: 2rem;
                }

                .down {
                    color: red;
                }
                
                .up {
                    color: green;
                }

            }
        }
    }

    a:hover {
        box-shadow: 2px 2px black;
    }

    div.customer-portfolio-container {
        width: 100%;
        background: white;

        div.customer-portfolios-list {
            width: 100%;
            display: flex;
            justify-content: space-between;
            background: white;
            padding: 20px;
            align-items: center;

            .portfolio-info {
                display: flex;
                background-color: white;

                p {
                    margin: 1rem;
                    font-size: 2rem;
                }
            }

            h1 {
                background: white;
            }

            h1 a {
                color: black;
            }

            h1 a:hover {
                box-shadow: none;
            }

            h1 > a,
            p,
            p > a,
            div.portfolio-info > * {
                background: white;
            }

           
        }
    }
}

#portfolio-show-container {
    display: flex;
    flex-direction: column;
}

#portfolio-show-container header {
    justify-content: flex-start;

    h3 {
        padding-left: 10px;
    }

    .user {
        display: flex;
        align-items: center;
    }

}

div.show {
    padding-left: 5rem;
}

#balance-info {
    display: flex;
    width: 100%;
    background: white;
    align-items: center;

    span,
    span a {
        background: white;
        padding: 10px;
    } 
}

.order-stock {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    text-align: center;
    background: lightsteelblue;
    border-bottom: 1px solid black;

    h3 > a {
        text-decoration: none;
        color: black;
        background: lightsteelblue;
    }

    h3 > a:hover {
        transition: .2s;
        color: goldenrod;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

    }

}

.order-info > *, 
.order-info p > a,
.order-info h3 > a {
    background: lightsteelblue;
    margin-right: 1rem;
}

.order-info {
    display: flex;
    background: lightsteelblue;
    
    p {
        width: 8rem;
    }

    p > a {
        text-decoration: none;
        color: forestgreen;
    }

    p > a:hover {
        font-weight: bold;
    }

    p > strong {
        background: lightsteelblue;
    }
    
}