// Place all the styles related to the Portfolios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.portfolio-container header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    
    h1 {
        padding-left: 1rem;
    }
}

.down {
    color: red;
}

.up {
    color: green;
}

.portfolios-container {
    //display: flex;

    a {
        display: flex;
        width: 100%;
        text-decoration: none;

        div.portfolios-list {
            display:flex;
            padding: 20px;
            width: 100%;
            background: white;
            justify-content: space-between;
            align-items: center;

            p, h1 {
                background: white;
                text-decoration: none;
                color: black;
            }

            .portfolio-info {
                display: flex;
                background-color: white;

                p {
                    margin: 1rem;
                    font-size: 2rem;
                }

            }
        }
    }

    a:hover {
        box-shadow: 2px 2px black;
    }

    #balance-info {
        display: flex;
        width: 100%;
        background: white;
        align-items: center;

        span,
        span a {
            background: white;
            padding: 10px;
        }

    }
}

#portfolio-show-container header {
    justify-content: flex-start;
}