// Place all the styles related to the Stocks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#filter-div {
    margin: 50px;
    bottom: 2rem;

    h1, h3 {
        text-align: center;
    }
    
    .filter-form {
        display: grid;
        bottom: 2rem;
        text-align: center;
    }
    
    .label-checkbox {
        padding: 10px;
        font-size: 1.5rem;
    }
    
    .filter-form [type=submit] {
        background: red;
        font-size: x-large;
        font-weight: bold;
        color: white;
        border-radius: 5px;
        width: 250px;
        
    }
    
    .filter-form input[type=checkbox] {
        font-size: 200px;
    }
    
    .filter-form [type=submit]:hover {
        transition: 2s;
        border-radius: 25%;
        box-shadow: 2px 2px black;
    }
}

#industries-container {
    text-align: center;

    h1 {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .industries-list,
    .industries-stock-list {
        display: grid;
        grid-template-columns: auto auto;
        //text-align: center;

        .grid-item {
            text-decoration: none;
            color: black;
            font-size: 1.2rem;
            align-items: center;
        }

        .grid-item:hover {
            color: rgb(0, 118, 118);
            font-size: 1.3rem;
            transition: 0.5s;
            background: white;
        }

    }
}


